.parent{
    -fx-background-color: transparent;
}
.pane{
    -fx-background-color: #2196f3;
}
.signUp_btn{
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-text-fill: whitesmoke;
}
.main_Vbox{
    -fx-background-color: #ffffff;
}
.changable_vbox{
    -fx-background-color: #151928;
    -fx-border-radius: 15px;
    -fx-border-color: #4567ff;
}
.H_user{
    -fx-background-color: transparent;
    -fx-border-color: #DEDEE4;
    -fx-border-width: 0px 0px 1px 0px;
}
.btn{
    -fx-background-color: #29a8ff;
    -fx-text-fill: #cccccc;
    -fx-border-radius: 15px;
}