.add_stu{
    -fx-background-radius: 40px;
    -fx-background-color: transparent;
    -fx-border-color: aquamarine;
}
.list_hb{
    -fx-background-radius: 30px;
}
.hb{
    -fx-border-color: #151928;
}
.data_vbox{

    -fx-background-color: linear-gradient(to bottom, #f2f2f2, #d4d4d4);
}
.radio{
    /*-fx-background-color: transparent;*/
    /*-fx-border-color: #29a8ff;*/
    -fx-background-color: linear-gradient(to bottom, #f2f2f2, #d4d4d4);
}
.main_layout{
    -fx-background-color: #5a8ea5;
}