.button{
    -fx-background-color: transparent;
}
.hbox{
    -fx-background-color: #4567ff;
}
.hbox:hover{
    -fx-background-color: #29a8ff;
}

.image_profile{
    -fx-background-radius: 500px;
}
.main_vbox{
    -fx-background-color:  #4567ff;
}
.Anchore{
    /*-fx-background-color: rgb(12, 76, 143);*/
    -fx-background-color: #3a0693;
}
.btn{
    -fx-background-color: transparent;
    -fx-border-color: #151928;
    /*-fx-border-radius: 50px;*/
}
.btn:hover{
    -fx-background-color: #4783CE;
    -fx-text-fill: #cccccc;
    -fx-border-color: #ffffff;
}
.sidebar{
    /*-fx-background-color: #479DCE;*/
    -fx-background-color: #531893;
    -fx-background-radius: 0px 90px 0px 0px;
}
